# Nishant Das

- Ex-Management Consultant
- PhD Candidate at IESE Business School
- Contact me on thenishantdas@gmail.com
- Check out my Linkdin : www.linkedin.com/in/nishant-daas

# Objective of this 1 hour workshop

- A quick introduction to Numpy & Pandas
- Small glimpse of how to work with Data Files for Data Analytics  
- Using Datasets from the Airline Industry : merge datasets and conduct basic analytics 
- Feel free to Code-along or sit back and watch

# Lets get started!

In [1]:
import pandas as pd
import numpy as np

# I. Python Basics

## I.I Define Variables

In [ ]:
my_birth = 1988

In [ ]:
this_year = 2021

In [ ]:
my_age = this_year - my_birth

In [ ]:
print(my_age)

## I.II Lists and Zero-Indexing

In [ ]:
my_list = ["a", "b", "c", "d"]

In [ ]:
print(my_list)

In [ ]:
my_list[2]

### Slicing [from element on Index X, upto but not including element on Index Y]

In [ ]:
my_list[1:3]

# II. Introducing Numpy - a Statistical Package

In [ ]:
row1 = [1, 2, 3]
row2 = [4, 5, 6]
row3 = [7, 8, 9]
print(row2)

In [ ]:
my_matrix = np.array([row1, row2, row3])

In [ ]:
my_matrix

## II.I Slicing (Selecting) Data

In [ ]:
my_matrix[2]

In [ ]:
my_matrix[0, 2]

In [ ]:
my_matrix[1:3,1:3]

## II.II Applying Logic

In [ ]:
a = np.arange(0,10)

In [ ]:
a

In [ ]:
a>5

In [ ]:
a[a>5]

### II.III Using in-built Methods

In [ ]:
a = np.arange(1, 11)

In [ ]:
np.sin(a)

In [ ]:
np.mean(a)

In [ ]:
np.std(a)

# III. Introducing Pandas

## III.I Importing Data Files using Pandas

In [2]:
flights_df = pd.read_csv("hflights.csv")
airline_codes = pd.read_csv("Airline_Codes.csv")

## III.II Making Sense of the data

In [3]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227496 entries, 0 to 227495
Data columns (total 22 columns):
Unnamed: 0           227496 non-null int64
Year                 227496 non-null int64
Month                227496 non-null int64
DayofMonth           227496 non-null int64
DayOfWeek            227496 non-null int64
DepTime              224591 non-null float64
ArrTime              224430 non-null float64
UniqueCarrier        227496 non-null object
FlightNum            227496 non-null int64
TailNum              226701 non-null object
ActualElapsedTime    223874 non-null float64
AirTime              223874 non-null float64
ArrDelay             223874 non-null float64
DepDelay             224591 non-null float64
Origin               227496 non-null object
Dest                 227496 non-null object
Distance             227496 non-null int64
TaxiIn               224430 non-null float64
TaxiOut              224549 non-null float64
Cancelled            227496 non-null int64
CancellationCode     2973 non-null object
Diverted             227496 non-null int64
dtypes: float64(8), int64(9), object(5)
memory usage: 38.2+ MB

In [4]:
flights_df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,...,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted
0,0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,...,-10.0,0.0,IAH,DFW,224,7.0,13.0,0,NaN,0
1,1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,...,-9.0,1.0,IAH,DFW,224,6.0,9.0,0,NaN,0
2,2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,...,-8.0,-8.0,IAH,DFW,224,5.0,17.0,0,NaN,0
3,3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,...,3.0,3.0,IAH,DFW,224,9.0,22.0,0,NaN,0
4,4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,...,-3.0,5.0,IAH,DFW,224,9.0,9.0,0,NaN,0

In [5]:
airline_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
Code            15 non-null object
Airline_Name    15 non-null object
dtypes: object(2)
memory usage: 368.0+ bytes

In [6]:
airline_codes.head()

  Code             Airline_Name
0   XE                JetSuiteX
1   CO     Continental Airlines
2   WN       Southwest Airlines
3   OO         SkyWest Airlines
4   MQ  American Eagle Airlines

## III.III Merging Data Files using Pandas

In [11]:
df = pd.merge(flights_df, airline_codes, left_on = "UniqueCarrier", right_on = "Code")

In [12]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Code,Airline_Name
0,0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,...,IAH,DFW,224,7.0,13.0,0,NaN,0,AA,American Airlines
1,1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,...,IAH,DFW,224,6.0,9.0,0,NaN,0,AA,American Airlines
2,2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,...,IAH,DFW,224,5.0,17.0,0,NaN,0,AA,American Airlines
3,3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,...,IAH,DFW,224,9.0,22.0,0,NaN,0,AA,American Airlines
4,4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,...,IAH,DFW,224,9.0,9.0,0,NaN,0,AA,American Airlines

In [14]:
df['Origin'] = df['Origin'].replace('IAH', 'Alpha')
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Code,Airline_Name
0,0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,...,Alpha,DFW,224,7.0,13.0,0,NaN,0,AA,American Airlines
1,1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,...,Alpha,DFW,224,6.0,9.0,0,NaN,0,AA,American Airlines
2,2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,...,Alpha,DFW,224,5.0,17.0,0,NaN,0,AA,American Airlines
3,3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,...,Alpha,DFW,224,9.0,22.0,0,NaN,0,AA,American Airlines
4,4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,...,Alpha,DFW,224,9.0,9.0,0,NaN,0,AA,American Airlines

# IV. Data Manipulation using Pandas

## Dropping a Column

In [10]:
df = df.drop('Code', axis = 1)

In [11]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,...,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Airline_Name
0,0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,...,0.0,IAH,DFW,224,7.0,13.0,0,NaN,0,American Airlines
1,1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,...,1.0,IAH,DFW,224,6.0,9.0,0,NaN,0,American Airlines
2,2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,...,-8.0,IAH,DFW,224,5.0,17.0,0,NaN,0,American Airlines
3,3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,...,3.0,IAH,DFW,224,9.0,22.0,0,NaN,0,American Airlines
4,4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,...,5.0,IAH,DFW,224,9.0,9.0,0,NaN,0,American Airlines

## Creating New Column based on some business logic

In [18]:
df["Speed"] = df["Distance"]/df["AirTime"]

In [19]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Airline_Name,Speed
0,0,2011,1,1,6,1400.0,1500.0,AA,428,N576AA,...,IAH,DFW,224,7.0,13.0,0,NaN,0,American Airlines,5.600000
1,1,2011,1,2,7,1401.0,1501.0,AA,428,N557AA,...,IAH,DFW,224,6.0,9.0,0,NaN,0,American Airlines,4.977778
2,2,2011,1,3,1,1352.0,1502.0,AA,428,N541AA,...,IAH,DFW,224,5.0,17.0,0,NaN,0,American Airlines,4.666667
3,3,2011,1,4,2,1403.0,1513.0,AA,428,N403AA,...,IAH,DFW,224,9.0,22.0,0,NaN,0,American Airlines,5.743590
4,4,2011,1,5,3,1405.0,1507.0,AA,428,N492AA,...,IAH,DFW,224,9.0,9.0,0,NaN,0,American Airlines,5.090909

## Filter Rows based on some conditional logic using df[condition]

### Filter for cancelled flights

In [12]:
df[df["Cancelled"]==1]

## Filter rows based on Multiple Conditions df[ (condition 1) & (condition 2) ]

### Filter for cancelled flights in the month of June

In [21]:
df[(df["Cancelled"]==1) & (df["Month"]==6)]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,...,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,Airline_Name,Speed
1428,93362,2011,6,30,4,NaN,NaN,AA,1294,N3GVAA,...,IAH,MIA,964,NaN,NaN,1,B,0,American Airlines,NaN
1524,93458,2011,6,22,3,NaN,NaN,AA,1700,N3DMAA,...,IAH,MIA,964,NaN,NaN,1,C,0,American Airlines,NaN
1554,93488,2011,6,22,3,NaN,NaN,AA,1995,N517AA,...,IAH,DFW,224,NaN,NaN,1,C,0,American Airlines,NaN
1596,93530,2011,6,20,1,NaN,NaN,AA,2406,N583AA,...,IAH,DFW,224,NaN,NaN,1,A,0,American Airlines,NaN
3915,93604,2011,6,18,6,NaN,NaN,B6,620,N329JB,...,HOU,JFK,1428,NaN,NaN,1,B,0,JetBlue Airlines,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191292,108742,2011,6,22,3,NaN,NaN,XE,3068,N14939,...,IAH,HRL,295,NaN,NaN,1,B,0,JetSuiteX,NaN
191361,108811,2011,6,22,3,NaN,NaN,XE,3083,N12163,...,IAH,MKE,984,NaN,NaN,1,B,0,JetSuiteX,NaN
191388,108838,2011,6,25,6,NaN,NaN,XE,3092,N17185,...,IAH,MCI,643,NaN,NaN,1,A,0,JetSuiteX,NaN
191398,108848,2011,6,22,3,NaN,NaN,XE,3096,N14105,...,IAH,CMH,986,NaN,NaN,1,B,0,JetSuiteX,NaN
191439,108889,2011,6,22,3,NaN,NaN,XE,3119,N17928,...,IAH,MOB,427,NaN,NaN,1,B,0,JetSuiteX,NaN

## Value_counts Function

### Total Number of flights flown by each Airline

In [24]:
df["Month"].value_counts()

7     20548
8     20176
6     19600
3     19470
5     19172
12    19117
1     18910
10    18696
4     18593
9     18065
11    18021
2     17128
Name: Month, dtype: int64

## Groupby function
### Obtain the maximum distance travelled by each Airline

In [17]:
df[df['Month']==1].groupby("Airline_Name")["AirTime"].max()

Airline_Name
AirTran Airways            119.0
Alaska Airlines            315.0
American Airlines          143.0
American Eagle Airlines    176.0
Continental Airlines       497.0
Delta Airlines             172.0
Express Jet                156.0
Frontier Flight            149.0
JetBlue Airlines           196.0
JetSuiteX                  201.0
SkyWest Airlines           208.0
Southwest Airlines         256.0
US Airways                 178.0
United Airlines            239.0
Name: AirTime, dtype: float64

In [ ]:
# ok, let me just type it here first

In [ ]:
df[(df["Cancelled"]==1)

In [28]:
df.groupby("Airline_Name")

Airline_Name
Air Shuttle                150.0
AirTran Airways            186.0
Alaska Airlines            315.0
American Airlines          161.0
American Eagle Airlines    220.0
Continental Airlines       549.0
Delta Airlines             188.0
Express Jet                173.0
Frontier Flight            190.0
JetBlue Airlines           258.0
JetSuiteX                  204.0
SkyWest Airlines           225.0
Southwest Airlines         288.0
US Airways                 212.0
United Airlines            276.0
Name: AirTime, dtype: float64

### Find the most punctual airlines (by looking Departure Delays)

In [29]:
df.groupby("Airline_Name")["DepDelay"].mean()

Airline_Name
Air Shuttle                 1.538462
AirTran Airways             4.716376
Alaska Airlines             3.712329
American Airlines           6.390144
American Eagle Airlines    11.071745
Continental Airlines        9.261313
Delta Airlines              9.370627
Express Jet                12.482193
Frontier Flight             5.093637
JetBlue Airlines           13.320532
JetSuiteX                   7.713728
SkyWest Airlines            8.885482
Southwest Airlines         13.488241
US Airways                  1.622926
United Airlines            12.918707
Name: DepDelay, dtype: float64

### Sort Values Function

In [30]:
df.groupby("Airline_Name")["DepDelay"].mean().sort_values(ascending=True)

Airline_Name
Air Shuttle                 1.538462
US Airways                  1.622926
Alaska Airlines             3.712329
AirTran Airways             4.716376
Frontier Flight             5.093637
American Airlines           6.390144
JetSuiteX                   7.713728
SkyWest Airlines            8.885482
Continental Airlines        9.261313
Delta Airlines              9.370627
American Eagle Airlines    11.071745
Express Jet                12.482193
United Airlines            12.918707
JetBlue Airlines           13.320532
Southwest Airlines         13.488241
Name: DepDelay, dtype: float64

### Find the most consistent airlines (by looking at Standarnd Deviation of Departure Delays)

In [33]:
df.groupby("Airline_Name")["ArrDelay"].std().sort_values(ascending=True)

Airline_Name
Air Shuttle                18.829718
Frontier Flight            24.492747
US Airways                 25.203075
Alaska Airlines            25.456955
Continental Airlines       28.385121
JetSuiteX                  29.818712
SkyWest Airlines           30.406580
Southwest Airlines         30.545752
AirTran Airways            33.747134
American Airlines          37.399387
Delta Airlines             41.445949
Express Jet                43.267711
American Eagle Airlines    47.012611
JetBlue Airlines           47.641762
United Airlines            47.724879
Name: ArrDelay, dtype: float64

## Groupby becomes very powerful when you drill down by multiple business logics

### For example, obtain average Depature Delay for each airline for every month

In [37]:
pd.options.display.max_rows = None
df.groupby(["Month","Airlineme",])["DepDelay"].mean()

KeyError: 'Airlineme'

# Way Forward

- Advanced Data Visualization 
- Machine Learning & AI
- If-Else Statements
- Function Definations 
- For Loops, While Loops, etc.
- Data Types (Strings, Dictionaries, Tuples, etc.)
- Much Much More...

# Tips

- Don't Think - Write, Run, Iterate
- Google your problem, espically the error Python throws back at you
- Stack Overflow 
- Practice with a business problem
- Feel free to get in touch with me (thenishantdas@gmail.com)

# Thank You!